<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://134.210.3.25/csis02/quotation</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>134.210.3.25</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/csis02/quotation</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ac\campise1</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CategoryContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Quotes.Models.CategoryContext, Quotes" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Quotes.Models.ApplicationDbContext, Quotes" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="QuotationContext" Order="3" Enabled="True">
          <Destination Path="Data Source=.\;Initial Catalog=csis02;User ID=csis02;Password=campise1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Quotes.Models.QuotationContext, Quotes" MigrationConfiguration="Quotes.Migrations.Configuration, Quotes" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CategoryContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QuotationContext-Web.config Connection String">
      <ParameterValue>Data Source=.\;Initial Catalog=csis02;User ID=csis02;Password=campise1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>